{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Social Media Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    
</head>
<body>
    <header>
        <div class="container">
            <h1>Sastagram</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="settings">Setting</a></li>
                    <li><a href="logout">Log out</a></li>
                    <!-- Add more navigation links as needed -->
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <!-- Post form -->
            <form action="upload" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="my-3 leading-6"> Upload pics
                    <br>
                <input type="file" name="image_upload">
                <textarea class="button soft-warning small" name="caption" placeholder="caption..." ></textarea>
                <button type="submit">Upload</button>
            </form>

            <!-- Posts -->
            {% for post in posts reversed %}
            <div class="post">
                <span class="block font-semibold "><a href="/profile/{{post.user}}">@{{post.user}}</a></span>
                <div>
                    <a href="{{post.image.url}}">  
                        <img width="500" height="400" src="{{post.image.url}}" alt="">
                    </a>
                </div>
                <div class="flex space-x-4 lg:font-bold">
                    <a href="/like-post?post_id={{post.id}}" class="flex items-center space-x-2">
                        <div class="p-2 rounded-full text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                            </svg>
                            {% if post.no_of_likes == 0 %}
                            <p>No likes</p>
                            {% elif post.no_of_likes == 1 %}
                            <p>Liked by {{post.no_of_likes}} person</p>
                            {% else %}
                            <p>Liked by {{post.no_of_likes}} people</p>
                            {% endif %}
                        </div>
                        
                    </a>
                </div>
                <p>
                    <a href="/profile/{{post.user}}"><strong>{{post.user}}</strong></a> {{post.caption}}
                </p>
                <div class="post-comments">
                    {% for comment in post.comments %}
                    <div class="comment">
                        <span>{{ comment.user }}:</span>
                        <span>{{ comment.text }}</span>
                    </div>
                    {% endfor %}
                </div>
            
            </div>
            {% endfor %}
        </div>
        <aside class="user-suggestions">
            <div class="container">
                <div class="bg-white shadow-md rounded-md overflow-hidden">
                    <div class="bg-gray-50 border-b border-gray-100 flex items-baseline justify-between py-4 px-6">
                        <h2 class="font-semibold text-lg">Users You Can Follow</h2>
                    </div>
                    <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4">
                        {% for suggestion in suggestions_username_profile_list %}
                        <div class="flex items-center justify-between py-3">
                            <div class="flex flex-1 items-center space-x-4">
                                <a href="/profile/{{ suggestion.user }}">
                                    <img src="{{ suggestion.profileimg.url }}" class="bg-gray-200 rounded-full w-10 h-10">
                                </a>
                                <div class="flex flex-col">
                                    <span class="block capitalize font-semibold">{{ suggestion.user }}</span>
                                    <span class="block capitalize text-sm">{{ suggestion.bio }}</span>
                                </div>
                            </div>
                            <a href="/profile/{{ suggestion.user }}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600">View User</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </aside>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2023 Sastagram. All rights reserved but not really.</p>
        </div>
    </footer>
</body>
</html>
